<mat-toolbar color="primary" class="mat-elevation-z2">
  <span>Contatos</span>
</mat-toolbar>
<section id="section-botao-cadastro">
  <button mat-fab color="accent" aria-label="Botão para cadastrar um novo contato">
    <mat-icon>add</mat-icon>
  </button>

</section>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="end">
    Aqui vai estar os detalhes do contato!!
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <section class="lista">
        <div class="letra-inicial">A</div>
        <div class="contatos">
          <mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
<mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
<mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
<mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
<mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
<mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
<mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
<mat-card>
            <section class="dados-container">
              <div class="icone"><mat-icon>account_circle</mat-icon></div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>
          <mat-card>
            <section class="dados-container">
              <div class="icone">
                <mat-icon>account_circle</mat-icon>
              </div>
              <section class="dados-contato">
                <mat-card-title>Alan Junior</mat-card-title>
                <mat-card-subtitle>11 9 9999-9999</mat-card-subtitle>
              </section>
            </section>

            <button mat-icon-button class="visualizar" (click)="drawer.toggle()">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card>

        </div>
      </section>


    </main>
  </mat-drawer-content>
</mat-drawer-container>
